{{ $mapJS := resources.Get "js/osm.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $mapJS.RelPermalink }}" integrity="{{ $mapJS.Data.Integrity }}" defer></script>

{{ $leafletCSS := resources.Get "js/leaflet/leaflet.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $leafletCSS.RelPermalink }}" integrity="{{ $leafletCSS.Data.Integrity }}" crossorigin="" />

{{ $leafletJS := resources.Get "js/leaflet/leaflet.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $leafletJS.RelPermalink }}" integrity="{{ $leafletJS.Data.Integrity }}" crossorigin=""></script>

{{ $location := split (.Get "location") "," }}
{{ $lat := trim (index $location 0) " " }}
{{ $lon := trim (index $location 1) " " }}

<div id="map"
     data-lat="{{ $lat }}"
     data-lon="{{ $lon }}"
     data-popup="{{ .Get "popup" | default "" }}">
</div>
