{{ $TITLE := (.Get "title") }}

{{ $HEADER := "" }}

{{ if eq $TITLE "lscpu" }}
  {{ $HEADER = "<h3>CPU <code>lscpu</code> Information</h3>" }}
{{ end }}

{{ if eq $TITLE "yabs" }}
  {{ $HEADER = "<h3>YABS</h3>" }}
{{ end }}

{{ if eq $TITLE "nws" }}
  {{ $HEADER = "<h3>NWS.sh</h3>" }}
{{ end }}

{{ if eq $TITLE "benchmonster" }}
  {{ $HEADER = "<h3>Bench.Monster <code>-all</code></h3>" }}
{{ end }}

<h3>{{ $HEADER | safeHTML }}</h3>

{{/*
  The Click to show design decision is not yet decided, will keep it as is until the next benchmark cycle

<details class="spoiler">
    <summary>Click to show</summary>
    <div class="spoiler-content">
      {{ .Inner }}
    </div>
</details>
*/}}

{{ .Inner }}