{{- /*
    For use with 7
    */}}

{{- /* Get Policy Arguments. */}}
{{- $TORRENT := or (.Get "torrent") "N/a" }}
{{- $SMTP := or (.Get "smtp") "N/a" }}
{{- $ADULT_CONTENT := or (.Get "adult_content") "N/a" }}
{{- $TOR := or (.Get "tor") "N/a" }}
{{- $VPN := or (.Get "vpn") "N/a" }}

{{- $policy := slice
    (dict "type" "Torrent" "value" $TORRENT)
    (dict "type" "SMTP(Port 25)" "value" $SMTP)
    (dict "type" "Adult Content" "value" $ADULT_CONTENT)
    (dict "type" "Tor Network" "value" $TOR)
    (dict "type" "VPN" "value" $VPN)
}}

<details class="spoiler">
    <summary><h2>Policy</h2></summary>
    <div class="spoiler-content">
        <div class="infoblock-list">
            {{- range $policy }}
              <div class="infoblock-item">
                <span class="infoblock-type">{{ .type }}:</span>
                <span class="infoblock-value">{{ .value | safeHTML }}</span>
              </div>
            {{- end }}
          </div>          
    
    {{ if ne .Inner "" }}
    {{ .Inner | markdownify }}
    {{ end }}
  
    </div>
</details>

<br>