{{- /*
    For use with 7
    */}}

{{- /* Get LOCATION Arguments. */}}
{{- $ASN := or (.Get "asn") "N/a" }}
{{- $ASN_NAME := or (.Get "asn_name") "N/a" }}
{{- $COUNTRY := or (.Get "country") "N/a" }}
{{- $CITY := or (.Get "city") "N/a" }}


{{ $location := slice
    (dict "type" "ASN" "value" (safeHTML (print "<a  target=_blank href='https://bgp.tools/as/" $ASN "'>AS" $ASN "</a> " $ASN_NAME)))
    (dict "type" "Country" "value" (print $CITY ", " $COUNTRY))
}}

<h3>Location</h3>
<div class="infoblock-list">
    {{- range $location }}
      <div class="infoblock-item">
        <span class="infoblock-type">{{ .type }}:</span>
        <span class="infoblock-value">{{ .value | safeHTML }}</span>
      </div>
    {{- end }}
</div>